<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/main.css">
  
    <meta charset="UTF-8">

    <title>Not Potions</title>
    <%- include('../partials/_nav_bar') %>
    <hr style="margin-top: 0px; border-color:black">
 
    <div class="top-container">
      <img src="2.png" class="headerimage">
    <h1>Not Potions</h1>
    <img src="2.png" class="headerimage">
  </div>

    <% if (posts.length === 0 ) { %>
        <p class="add">Log In and add some potions!</p>
      <% } %> 
      
 
      <div class="container">
         <% posts.forEach( post => { %>

          <div class="card" style="width: 18rem;">
            <img src="<%= post.img %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= post.name %></h5>
              <p>Brew Time: <%= post.brewTime %></p>
              <a href='/notpotions/<%=post._id %>' class="btn btn-sucess">VIEW</a>
            </div>
          </div>
         
         
      
        <% }) %>
      </div>



</head>
<body>
    
</body>
</html>