<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/main.css">
  
    <meta charset="UTF-8">

    <title>Not Potions</title>
    <%- include('../partials/_nav_bar') %>
 

    <% if (posts.length === 0 ) { %>
        <p>Add some potions!</p>
      <% } %> 
      
      <div class="container">
         <% posts.forEach( post => { %>
         
         <div class="card" style="width: 18rem;">
          <img src="<%= post.img %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= post.name %></h5>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Brew Time: <%= post.brewTime %></li>
            <li class="list-group-item">By Jenn</li>
          </ul>
        
          <div class="card-body">
            
            
            <form action='/notpotions/<%=post._id %>'>
              <button type="submit" class="btn btn-sucess">VIEW</button>
                 </form>

                  <a href="https://www.computerhope.com/">
                  <img src="2.png">
                  </a>
                 
            
          </div>
        </div>
      
        <% }) %>
      </div>



</head>
<body>
    
</body>
</html>