<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Potions</title>
    <%- include('../partials/_nav_bar') %>
    <h1>Hello there!</h1>


    <% if (posts.length === 0 ) { %>
        <p>Add some potions!</p>
      <% } %> 
   
         <% posts.forEach( post => { %>
         <div class="card" style="width: 18rem;">
          <img src="<%= post.img %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= post.name %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Brew Time: <%= post.brewTime %></li>
            <li class="list-group-item">By Jenn</li>
          </ul>
          <div class="card-body">
            
            <form action='/notpotions/<%=post._id %>?_method=DELETE' method="POST">
              <button type="submit" class="btn btn-danger">DELETE</button>
                 </form>
              


            <form action='/notpotions/<%=post._id %>'>
              <button type="submit" class="btn btn-sucess">VIEW</button>
                 </form>

            
          </div>
        </div>

        <% }) %>





</head>
<body>
    
</body>
</html>