<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Satisfy&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/_nav_bar') %>
    <title>View Potion</title>
</head>
<body>
   <div class="container">
    <h1><%= post.name %></h1>
    
    <img src="<%= post.img %>" class="img-fluid" alt="...">
    <h5 class="card-title"><%= post.name %></h5>
    <li class="list-group-item">Brew Time: <%= post.brewTime %></li>
    <li class="list-group-item">By Jenn</li>
    <li class="list-group-item">Ingredients: <%= post.ingredients %></li>
    <li class="list-group-item">Directions: <%= post.directions %></li>
    <li class="list-group-item">Notes: <%= post.notes %></li>
  </div>
       
           
           <form action='/notpotions/<%=post._id %>?_method=DELETE' method="POST">
             <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
             
                <a href='/notpotions/edit/<%=post._id %>' class="btn btn-sucess">EDIT</a>
                

        
           
         </div>
       </div>

      
    

       

    
</body>
</html>