<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is where you view a specific post!</h1>


        <li><%= post.img %></li>
        <li><%= post.name %></li>
        <li><%= post.brewTime %></li>
        <li><%= post.ingredients %></li>
        <li><%= post.directions %></li>
        <li><%= post.notes %></li>
    

        <a href='/notpotions/edit/<%=post._id %>' class="btn btn-sucess">EDIT</a>

    
</body>
</html>